#main {
    border: 0;
    padding: 0;
    margin: 0;
}
.header {
    background-color: #2c80b9;
    min-width: 320px;
}
.header img {
    display:block;
    margin: 0;
}
.header img.logo {
    float: left;
    height: 92px;
    width: 164px;
}
.header h4.label {
    color: #fff;
    font-weight: normal;
    line-height: 92px;
    float: left;
    margin: 0;
}
@media (max-width: 992px) {
    .header img.logo {
        height: 78px;
        width: 139px;
    }
    .header h4.label {
        line-height: 78px;
    }
}

@media (max-with: 600px) {
    .header img.log {
        height: 62px;
        width: 110px;
    }
    .header h4.lable {
        line-height: 62px;
    }
}
/* NovoUsuario  */

.center {
    box-sizing: border-box;
    padding: 5px;
    display: table;
    margin: 0 auto;
    min-width: 320px;
    margin-top: 92px;
}
@media (max-width: 992px){
    .center {
        margin-top: 78px;
    }
}
@media (max-width: 600px){
    .center {
        margin-top: 92px;
    }
}

